<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%=title%></title>
    <link rel="stylesheet" href="/public/css/base.css">
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/index.css">
</head>
<body>
    <div id="container" class="container-fluid">
        <div class="channels">
            <h4>最新电影</h4>
            <div class="c-items row">
                <% for(var i=0; i< movies.length; i++) { %>
                <div class="col-lg-2">
                        <a href="/movie/<%= movies[i].id %>">
                            <p class="c-item-img">
                                <img src="/public/images/default.png" data-src="<%= movies[i].image.large %>" />
                            </p>
                            <p class="c-item-title">
                                <%= movies[i].title %>
                            </p>
                        </a>
                    </div>
                <% } %>     
            </div>
        </div>
    </div>
    <script src="/public/js/lazy-load-img.min.js"></script>
    <script>
    ; (function () {
      var lazyLoadImg = new LazyLoadImg({
        el: document.querySelector('#container'),
        mode: 'default', //默认模式，将显示原图，diy模式，将自定义剪切，默认剪切居中部分
        time: 300, // 设置一个检测时间间隔
        complete: true, //页面内所有数据图片加载完成后，是否自己销毁程序，true默认销毁，false不销毁
        position: { // 只要其中一个位置符合条件，都会触发加载机制
          top: 0, // 元素距离顶部
          right: 0, // 元素距离右边
          bottom: 0, // 元素距离下面
          left: 0 // 元素距离左边
        },
        before: function () { // 图片加载之前执行方法
          
        },
        success: function (el) { // 图片加载成功执行方法
          el.classList.add('success')
        },
        error: function (el) { // 图片加载失败执行方法
          el.src = '/public/images/error.png'
        }
      })
      // lazyLoadImg.start() // 重新开启懒加载程序
      // lazyLoadImg.destroy() // 销毁图片懒加载程序
    })()
    </script>
</body>
</html>